body {
  margin: 0;
  font-family: Arial, sans-serif;

  background: linear-gradient(
    135deg,
    #ffd6e7,
    #fff0f5
  );
}

.container {
  min-height: 100dvh;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  gap: 20px;

  text-align: center;

  position: relative;
}

h1 {
  max-width: 700px;
  padding: 0 20px;
}

button {
  padding: 12px 24px;

  border: none;
  border-radius: 12px;

  cursor: pointer;

  font-size: 18px;

  transition: 0.3s;
}

.card {
  background: rgba(255,255,255,.75);

  backdrop-filter: blur(20px);

  padding: 40px;

  border-radius: 24px;

  border: 1px solid rgba(255,255,255,.4);

  box-shadow:
    0 30px 80px rgba(0,0,0,.15);

  display: flex;
  flex-direction: column;

  gap: 20px;

  align-items: center;
}

.gift-scene {

  perspective: 1500px;

  min-height: 100dvh;

  width: 100%;

  display: flex;

  justify-content: center;
  align-items: center;

  background:
  radial-gradient(
    circle at top,
    #fffdfd,
    #f8d6e5,
    #d7a3b8
  );

  background-size:
  400% 400%;

  animation:
  gradientMove 15s ease infinite;
  }

  @keyframes gradientMove {

  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }

}

.heart-area {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;

  gap: 10px;

  max-width: 400px;
}

.heart-btn {
  font-size: 30px;

  background: transparent;

  border: none;

  cursor: pointer;
}

.heart-game {
  width: 300px;
  height: 300px;

  position: relative;

  border-radius: 20px;

  background: #fff5fa;
}


.heart-floating {
  position: absolute;

  left: 50%;
  top: 50%;

  font-size: 40px;

  background: transparent;
  border: none;

  cursor: pointer;

  transition: all 0.2s ease;
}


.explosion {
  position: absolute;

  transform: translate(-50%, -50%);

  font-size: 50px;

  pointer-events: none;

  animation: explode 0.4s ease forwards;
}

@keyframes explode {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(0.5);
  }

  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(2);
  }
}

.particle {
  position: absolute;

  transform: translate(-50%, -50%);

  font-size: 24px;

  pointer-events: none;

  animation: particleFly 0.6s ease-out forwards;
}

@keyframes particleFly {

  0% {
    opacity: 1;
    transform:
      translate(-50%, -50%)
      translate(0, 0)
      scale(1);
  }

  100% {
    opacity: 0;
    transform:
      translate(-50%, -50%)
      translate(var(--dx), var(--dy))
      scale(0.5);
  }

}

.gift-body {

  width: 260px;
  height: 170px;

  background:
    linear-gradient(
      135deg,
      #ff9ac1,
      #ff5f99
    );

  box-shadow:
    0 20px 50px rgba(0,0,0,.2),
    inset 0 5px 15px rgba(255,255,255,.5);

  position: absolute;
  bottom: 0;

  border-radius: 10px;

  overflow: hidden;

  z-index: 10;
}

.gift-lid {
  width: 270px;
  height: 55px;

  background: #ff4f8b;

  position: absolute;
  top: 20px;
  left: -5px;

  border-radius: 10px;

  transition: 1s;
  transform-origin:
  center bottom;

  transform-style:
  preserve-3d;
}

.gift-front {
  position: absolute;

  bottom: 0;

  width: 260px;
  height: 70px;

  border-radius: 0 0 10px 10px;

  background:
    linear-gradient(
      135deg,
      #ff85b3,
      #ff4f8b
    );

  z-index: 10;
}

.gift-back {
  position: absolute;

  inset: 0;

  border-radius: 10px;

  background:
    linear-gradient(
      135deg,
      #ff9ac1,
      #ff5f99
    );

  z-index: 1;
}

.gift-box {
  position: relative;

  width: 260px;
  height: 260px;

  transform-style:
    preserve-3d;

  margin-bottom: 20px;

  transition: 0.5s;
}

.gift-box.open {
  transform: scale(1.05);
}

.ribbon-vertical {
  position: absolute;

  width: 20px;
  height: 100%;

  background: white;

  left: 50%;

  transform: translateX(-50%);
}

.ribbon-horizontal {
  position: absolute;

  height: 20px;
  width: 100%;

  background: white;

  top: 40px;
}


.gift-content {
  position: absolute;

  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%);

  font-size: 50px;

  animation: giftAppear 1s ease;
}

@keyframes giftAppear {

  0% {
    opacity: 0;

    transform:
      translate(-50%, 30px)
      scale(0);
  }

  100% {
    opacity: 1;

    transform:
      translate(-50%, -50%)
      scale(1);
  }

}

.letter-box {

  max-width: 600px;

  background: #fffafc;

  padding: 30px;

  border-radius: 20px;

  border: 2px solid #ffd6e7;

  text-align: left;

  line-height: 1.8;
}

.letter-popup {
  position: absolute;

  left: 50%;
  bottom: 40px;

  transform: translateX(-50%);

  animation: letterRise 1s ease forwards;
}

@keyframes letterRise {

  from {
    opacity: 0;

    transform:
      translateX(-50%)
      translateY(50px);
  }

  to {
    opacity: 1;

    transform:
      translateX(-50%)
      translateY(-120px);
  }

}

.envelope {

  width: 220px;
  height: 140px;

  background: white;

  position: relative;

  border-radius: 8px;

  box-shadow: 0 10px 30px rgba(0,0,0,.15);

  transition: 1.5s;
}

.envelope-front {

  position: absolute;

  bottom: 0;

  width: 100%;
  height: 100px;

  background: white;

  border-radius: 0 0 12px 12px;

  box-shadow:
    0 15px 40px rgba(0,0,0,.15);

}

.envelope-paper {
  position: absolute;

  left: 20px;
  top: 30px;

  width: 180px;
  height: 120px;

  background: white;

  border-radius: 8px;

  box-shadow:
    0 10px 20px rgba(0,0,0,.1);
}


.envelope-flap {

  position: absolute;

  top: 0;
  left: 0;

  width: 0;
  height: 0;

  border-left: 110px solid transparent;
  border-right: 110px solid transparent;

  border-top: 80px solid #ffd6e7;

  transform-origin: top center;
}


.romantic-glow {

  position: fixed;

  inset: 0;

  background:
    radial-gradient(
      circle,
      rgba(255,120,180,.25),
      transparent 70%
    );

  animation: glowPulse 2s infinite;

  pointer-events: none;
}

@keyframes glowPulse {

  0% {
    opacity: .4;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: .4;
  }

}

.flap-open {

  transform:
    rotateX(180deg);

  transition:
    transform 1.5s ease;

}

.paper-up {

  transform:
    translateY(-80px);

  transition:
    transform 2s ease;

}

.magic-light {
  position: absolute;

  inset: -100px;

  background:
    radial-gradient(
      circle,
      rgba(255,255,255,.9),
      rgba(255,180,220,.3),
      transparent
    );

  animation: magicPulse 2s infinite;

  pointer-events: none;
}

@keyframes magicPulse {

  0% {
    transform: scale(.5);
    opacity: 0;
  }

  50% {
    transform: scale(1.5);
    opacity: 1;
  }

  100% {
    transform: scale(2);
    opacity: 0;
  }

}

@keyframes magicBurst {

  from {
    opacity: 0;
    transform:
      translateX(-50%)
      scale(.2);
  }

  to {
    opacity: 1;
    transform:
      translateX(-50%)
      scale(15);
  }

}

.floating-heart {

  position: absolute;

  left: 50%;
  bottom: 180px;

  font-size: 35px;

  pointer-events: none;

  filter:
    drop-shadow(
      0 0 10px #ff69b4
    );
}

.envelope-wrapper {
  position: absolute;

  left: 50%;
  top: 50%;

  margin-left: -140px;
  margin-top: -90px;

  filter:
  drop-shadow(
    0 25px 35px rgba(0,0,0,.25)
   );

  z-index: 5;
}

.bokeh {

  position: absolute;

  width: 60px;
  height: 60px;

  border-radius: 50%;

  background:
    rgba(
      255,
      180,
      220,
      .25
    );

  filter: blur(25px);

  bottom: -50px;

  left: 50%;
}

.light-rays {

  position: absolute;

  width: 500px;
  height: 500px;

  left: 50%;
  top: 50%;

  transform:
    translate(-50%, -50%);

  border-radius: 50%;

  background:
    conic-gradient(
      transparent,
      rgba(255,255,255,.8),
      transparent,
      rgba(255,200,220,.8),
      transparent
    );

  filter: blur(30px);

  animation:
    rotateRays 12s linear infinite;

  pointer-events: none;
}

@keyframes rotateRays {

  from {
    transform:
      translate(-50%, -50%)
      rotate(0deg);
  }

  to {
    transform:
      translate(-50%, -50%)
      rotate(360deg);
  }

}

.envelope-premium {

  position: relative;

  width: 280px;
  height: 180px;

  perspective: 1500px;

  z-index: auto;
}

.letter-sheet {

  position: absolute;

  left: 20px;
  top: 20px;

  width: 240px;
  height: 160px;

  background: white;

  border-radius: 12px;

  z-index: 2;

  box-shadow:
    0 20px 40px rgba(0,0,0,.15);
}

.letter-content {

  display: flex;

  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  font-size: 40px;
}

.envelope-back {

  position: absolute;

  bottom: 0;

  width: 280px;
  height: 140px;

  background:
    linear-gradient(
      135deg,
      #fff7fb,
      #ffd6e7
    );

  border-radius: 0 0 18px 18px;

  z-index: 1;

  box-shadow:
    0 20px 50px rgba(0,0,0,.15);
}

.envelope-front-premium {

  position: absolute;

  bottom: 0;

  width: 280px;
  height: 140px;

  background:
    linear-gradient(
      135deg,
      #fff,
      #ffe9f3
    );

  clip-path:
    polygon(
      0 0,
      50% 55%,
      100% 0,
      100% 100%,
      0 100%
    );

  z-index: 4;

  border:
  2px solid rgba(212,175,55,.4);
  box-sizing: border-box;
}

.envelope-flap-premium {

  position: absolute;

  top: 0;
  left: 0;

  width: 0;
  height: 0;

  border-left: 140px solid transparent;
  border-right: 140px solid transparent;

  border-top: 100px solid #ffd6e7;

  transform-origin: top center;

  z-index: 6;

  filter:
    drop-shadow(
      0 5px 15px rgba(0,0,0,.15)
    );
  
  backface-visibility: hidden;
}

.wax-seal {

  position: absolute;
  
  left: 38%;
  top: 72px;

  transform:
    translateX(-50%);

  width: 55px;
  height: 55px;

  border-radius: 50%;

  background:
    radial-gradient(
      circle,
      #ff7aa8,
      #e63974
    );

  display: flex;

  justify-content: center;
  align-items: center;

  color: white;

  font-size: 24px;

  box-shadow:
    0 8px 20px rgba(0,0,0,.25);
  
    z-index: 7;
}

.letter-content {
  padding: 20px;
}

.letter-line {
  height: 8px;
  margin-bottom: 12px;

  border-radius: 20px;

  background:
    linear-gradient(
      90deg,
      #ffd6e7,
      #ff9ac1
    );
}

.letter-line.short {
  width: 60%;
}

.back-layer {
  z-index: 0;
}

.front-layer {
  z-index: 30;
}

.screen-flash {
  position: fixed;
  inset: 0;

  background: white;

  z-index: 999;

  pointer-events: none;

  animation: flashFade 0.9s ease forwards;
}

@keyframes flashFade {

  0% {
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.romantic-bg {

  position: fixed;
  inset: 0;

  background:
    radial-gradient(
      circle at center,
      rgba(255,220,235,.8),
      rgba(255,180,210,.5),
      rgba(255,150,200,.3)
    );

  animation:
    romanticPulse 6s infinite;

  z-index: -1;
}

@keyframes romanticPulse {

  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.fullscreen-letter {

  position: fixed;

  inset: 0;

  display: flex;

  justify-content: center;
  align-items: center;

  z-index: 999;
}

.letter-paper {

  width: 80vw;
  max-width: 900px;

  min-height: 70vh;

  background: white;

  border-radius: 25px;

  padding: 50px;

  box-shadow:
    0 40px 120px rgba(0,0,0,.25);

  line-height: 2;

  font-size: 22px;
}

.love-background {

  position: fixed;

  inset: 0;

  display: flex;

  justify-content: center;
  align-items: center;

  font-size: 100px;

  opacity: .15;

  animation: pulseLove 3s infinite;
}

.typing-text::after {
  content: "|";
  animation: blink 0.8s infinite;
}


.typing-text {
  white-space: pre-line;
  color: #444;
  font-size: 18px;
  line-height: 1.5;
}

.typing-text::after {
  content: "|";
  animation: blink 0.8s infinite;
}
@keyframes blink {
  50% {
    opacity: 0;
  }
}

@media (max-width: 768px) {

  /* CARD */
  .card {
    padding: 18px;
    width: 90%;
    box-sizing: border-box;
  }

  h1 {
    font-size: 1.8rem;
    line-height: 1.2;
  }

  h2 {
    font-size: 1.4rem;
  }

  button {
    font-size: 16px;
    padding: 10px 18px;
  }

  /* HEART GAME */
  .heart-game {
    width: 240px;
    height: 240px;
  }

  .heart-floating {
    font-size: 34px;
  }

  /* GIFT */
  .gift-box {
    width: 200px;
    height: 200px;
  }

  .gift-body {
    width: 200px;
    height: 130px;
  }

  .gift-lid {
    width: 210px;
    height: 45px;
  }

  /* ENVELOPE */

  .envelope-wrapper {
    margin-left: -110px;
    margin-top: -70px;
  }
  
  .envelope-premium {
    width: 220px;
    height: 140px;
  }

  .envelope-back,
  .envelope-front-premium {
    width: 220px;
    height: 110px;
  }

  .envelope-flap-premium {
    border-left: 110px solid transparent;
    border-right: 110px solid transparent;
    border-top: 80px solid #ffd6e7;
  }

  /* SURAT */
  .letter-paper {
    width: 90vw;
    min-height: auto;
    padding: 25px;
    font-size: 16px;
  }

  .typing-text {
    font-size: 16px;
    line-height: 1.6;
  }

  /* EFEK */
  .love-background {
    font-size: 50px;
  }

  .floating-heart {
    font-size: 24px;
  }

  .light-rays {
    width: 300px;
    height: 300px;
  }

  .bokeh {
    width: 35px;
    height: 35px;
  }

  .letter-sheet {

  width: 180px;
  height: 100px;
  }

}
